*{
    padding:0;
    margin:0;
}
.content-block
{
    background:#FFFFFF;
    height:540px;
    overflow: hidden;
    padding:10px 5px 15px 5px;
}
.footer
{
    background:#DCDCDC;
    padding:5px;
}
.header
{
    background:#DCDCDC;
    padding:5px;
}
.main
{
    background:#F0F8FF;
    height:550px;
    width:1030px; /* ширина блока */
    float:right; /* прижатие блока */
}
.menu
{
    background:#F0F8FF;
    width:150px; /* ширина блока */
    height:200px;
    float:left; /* прижатие блока */
}
.site-block
{
    background:#FFFFFF;
    width:1200px; /* ширина сайта*/
    height:600px;
    margin: 0 auto; /* выравниваем сайт по центру*/
}